body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0; 
    background-color:black ;   
}
.container{
    background-color: rgb(230, 175, 222);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    border: solid  rgba(216, 112, 147, 0.801);
    text-align: center;
    box-shadow: 0 0 10px rgb(255, 83, 140);;
    overflow: hidden;
    margin:20px auto; 
}
#header{
    background-color: palevioletred;
    margin-top: 10px;
    width: 800px;
}
#header h1{
    font-size:xx-large;
}

img{
    width: 170px ;
    margin-top: 20px;
    justify-items:center;
    border-radius: 50% ;
    border: solid palevioletred;
}

h2{
    background-color: palevioletred;
    width:300px;
    border: solid rgba(255, 83, 140, 0.568);
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(255, 83, 140);
    text-align: center;

}

button {
    margin-top: 10px;
    padding: 10px ;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
button:hover {
    background-color: rgb(255, 83, 140);
    color: black;
    font-weight: bold;
}
  
ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    margin: 5px 0;
}
/* Large screens (laptop) */
.container{

    width: 80%;
    max-width: 800px;
}

/* Medium screens (tablets) */

 @media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: 600px ;
    }
 }
/* Small screens (mobile phones) */

@media (max-width: 480px) {
    .container {
        width: 95%;
        max-width: 100px;
    }
}
